.container {
    font-family: 'Dosis', sans-serif;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#range {
    text-decoration: underline;
}
.device {
    padding: 0.5rem 0; 
}
.hidden {
    display: none;
}
.address {
    color: #808080;
}

